<!-- works -->
<div id="works"  class=" clearfix grid"> 
   
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/clothes.jpg" alt="img01"/>
        <figcaption>
            <h2>Cloths</h2>
            <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Compliment Me</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/shoes.jpg" alt="img01"/>
        <figcaption>
            <h2>Shoes</h2>
              <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/sunglasses.jpg" alt="img01"/>
        <figcaption>
            <h2>Sunglasses</h2>
            <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                 
        </figcaption>
    </figure>
      <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/watches.jpg" alt="img01"/>
        <figcaption>
            <h2>Watches</h2>
             <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                 
        </figcaption>
    </figure>
      <figure class="effect-oscar  wowload fadeIn">
        <img src="images/portfolio/hair.jpg" alt="img01"/>
        <figcaption>
            <h2>Hair</h2>
             <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                 
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/face.jpg" alt="img01"/>
        <figcaption>
            <h2>Face</h2>
            <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>              
        </figcaption>
    </figure>
    
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/6.jpg" alt="img01"/>
        <figcaption>
            <h2>Eyes</h2>
             <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                  
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/7.jpg" alt="img01"/>
        <figcaption>
            <h2>Bridal</h2>
         <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>               
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/8.jpg" alt="img01"/>
        <figcaption>
            <h2>Skin</h2>
           <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                  
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/9.jpg" alt="img01"/>
        <figcaption>
            <h2>Beutiy Tips</h2>
            <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                  
        </figcaption>
    </figure>
  
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/11.jpg" alt="img01"/>
        <figcaption>
            <h2>Obaya</h2>
           <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/12.jpg" alt="img01"/>
        <figcaption>
            <h2>Rings</h2>
            <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                 
        </figcaption>
    </figure>
    

     
</div>
<!-- works -->