<!-- works -->
<div id="categories"  class=" clearfix grid"> 
   
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/clothes.jpg" alt="img01"/>
        <figcaption>
            <h2>Jeans</h2>
            <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Compliment Me</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/shoes.jpg" alt="img01"/>
        <figcaption>
            <h2>Shirts</h2>
              <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/sunglasses.jpg" alt="img01"/>
        <figcaption>
            <h2>Jackets</h2>
            <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                 
        </figcaption>
    </figure>
      <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/watches.jpg" alt="img01"/>
        <figcaption>
            <h2>Coats</h2>
             <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                 
        </figcaption>
    </figure>
      <figure class="effect-oscar  wowload fadeIn">
        <img src="images/portfolio/hair.jpg" alt="img01"/>
        <figcaption>
            <h2>Tie</h2>
             <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                 
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/face.jpg" alt="img01"/>
        <figcaption>
            <h2>Sports Shirts</h2>
            <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>              
        </figcaption>
    </figure>
    
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/6.jpg" alt="img01"/>
        <figcaption>
            <h2>Pants</h2>
             <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                  
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/7.jpg" alt="img01"/>
        <figcaption>
            <h2>Trousers</h2>
         <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>               
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/8.jpg" alt="img01"/>
        <figcaption>
            <h2>TShirts</h2>
           <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                  
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/9.jpg" alt="img01"/>
        <figcaption>
            <h2>Sweters</h2>
            <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                  
        </figcaption>
    </figure>
  
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/11.jpg" alt="img01"/>
        <figcaption>
            <h2>Two Piece Suits</h2>
           <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/12.jpg" alt="img01"/>
        <figcaption>
            <h2>Three Piece Suits</h2>
            <p>Let us help you out here<br>
            <a href="images/portfolio/clothes.jpg" title="1"> Men's Trending</a> 
              <a href="images/portfolio/clothes.jpg" title="1"> Women's Trending</a> 
                <a href="images/portfolio/clothes.jpg" title="1"> Kid's Trending</a> 
            <a href="images/portfolio/clothes.jpg" title="1">Ask Professional Recommendation</a>
            <a href="images/portfolio/clothes.jpg" title="1">Become A Model</a>
            </p>                 
        </figcaption>
    </figure>
    

     
</div>
<!-- works -->